.add-asset-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  
  
}


/* Scrollable body (form + botones) */
.page-scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  gap: 0.75rem;
}


/* Botones siempre al fondo dentro del scroll */
.add-asset-buttons {
  display: flex;
  gap: 0.65rem;
  margin: 1rem;
  margin-bottom: 100px;
}





/* Botones */


.add-button {
  background-color: #3b3bff;
  color: white;
  border: none;
}

.cancel-button {
  background: white;
  color: #374151;
  border: 1.5px solid #d1d5db;
}