* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  height: 100%;
  background-color: #cacaca; 
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(to bottom, #ffffff, #e0f2ff);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}


button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}